.review-stars-unfilled {
    display: flex;
    justify-content: center;
    ;
}


.review-stars-filled {
    display: flex;
    justify-content: space-evenly;
}




.unfilled-star1 {
height: 50px;
width: 50px;
cursor: pointer;

}

.unfilled-star2 {
height: 50px;
width: 50px;
cursor: pointer;

}

.unfilled-star3 {
height: 50px;
width: 50px;
cursor: pointer;

}

.unfilled-star4 {
height: 50px;
width: 50px;
cursor: pointer;

}

.unfilled-star5 {
height: 50px;
width: 50px;
cursor: pointer;

}






.filled-star1 {
height: 50px;
width: 50px;
cursor: pointer;

}

.filled-star2 {
height: 50px;
width: 50px;
cursor: pointer;

}

.filled-star3 {
height: 50px;
width: 50px;
cursor: pointer;

}

.filled-star4 {
height: 50px;
width: 50px;
cursor: pointer;

}

.filled-star5 {
height: 50px;
width: 50px;
cursor: pointer;

}


.review-input {
    height: 200px;
    width: 450px;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 30px;
    border: 3px solid black;
}


.review-modal-container {
    width: 500px;
}


.submit-review-button {
    box-shadow: 4px 4px grey;
}
