
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.spot-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2% auto;
    width: 90vw;

}



.spot-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-width: 275px;
    max-width: 600px;
    min-height: 270px;
    text-align: center;
    margin: 2% auto;
    padding: 2%;

}



.image{
    display:flex;
    margin: auto;
    width: 250px; /* Set the desired width */
    height: 250px;
    border:2px solid black ;
    border-radius: 10px;

}


.review-area {
    display:flex;
    justify-content: space-evenly;

}
