.spot-list {
    display: flex;
    flex-direction: column;
    /* align-items: */
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .spot-card {
  display: flexbox;
  flex-direction: column;

} */

image{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
}
