.image-container {
    display: grid;

    grid-template-areas:
 "main main image1 image3"
 "main main image2 image4"
 ;


 margin: 20px auto;
}

.main-image {
    grid-area: main;

    height:608px;
    width:600px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;
}

.image1 {
    grid-area: image1;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;

}

.image2 {
    grid-area: image2;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;

}

.image3 {
    grid-area: image3;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;

}

.image4 {
    grid-area: image4;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;

}










.decription-container {

    display: flex;
    justify-content: space-between;
}


.reserve-container {
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    border: 2px solid black;
    width: 20%;
    border-radius: 20px;
    box-shadow: 0 0 2px 0black;

}

.average-rating {
    display: flex;
    justify-content: flex-end;
}

.reserve-button {
    border: 2px solid black;
    width: 80%;
    align-self: center;
    justify-self: center;
    background-color: crimson;
    color: white;
}









.reviews-container {
display: flex;
flex-direction: column;
flex-flow: column;
border: 2px solid black;

}


.average-rating-big {
    display: flex;
    justify-content: flex-end;
    height:20px;
    /* width: 20px; */
    border: 2px solid red;
}


.review2 {
    border: 2px solid black;
    margin: 8px;
    padding: 5px;
}

.review3 {
    flex-direction: column;
}

.div-of-divs {
    display: flex;
    flex-direction: column;
}



.seperation {
    /* display: flex;
    flex-wrap: wrap; */
    margin: 8px 8px;
}

.big-star {
    /* display: flex;
    flex-direction: row; */
    border: 2px solid green;
    font-size: xx-large;
}

/* .review-text {
    display: flex;
    justify-content: flex-start;
} */
