




.spot-show-page{
    margin-left: 100px;
    margin-right: 100px;
}





.hidden{
    display: none;
}





.image-container {
    display: grid;

    grid-template-areas:
 "main main image1 image3"
 "main main image2 image4"
 ;


 /* margin: 20px auto; */

}

.main-image {
    grid-area: main;

    height:608px;
    width:600px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;
}

.image1 {
    grid-area: image1;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;

}

.image2 {
    grid-area: image2;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;

}

.image3 {
    grid-area: image3;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;

}

.image4 {
    grid-area: image4;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 300px;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    box-shadow: 8px 5px 15px 5px;

}



.decription-container {
/* reserve container is inside description container */
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px gray;
}














.reserve-container {
    display: flex;

    justify-self: flex-end;
    justify-content: space-between;
    flex-direction: column;
    border: 4px solid black;
    width: 20%;
    border-radius: 20px;
    box-shadow: 0 0 2px 0black;

}

.average-rating {
    display: flex;
    justify-content: flex-end;
}

.reserve-button {
    border: 2px solid black;
    width: 88%;
    align-self: center;
    justify-self: center;
    background-color: rgb(214, 112, 112);
    color: white;
    margin: 20px ;
    box-shadow: 5px 5px 5px black;
}

.price{
    display: flex;

}



.spanner {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px gray;
    z-index: 2;
    height: 1px;

    margin-top: 30px;
}



.review-reserved {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 10px 10px;
}







.reviews-container {
display: flex;
flex-direction: column;
flex-flow: column;
/* border: 2px solid black; */


}


.average-rating-big {
    display: flex;
    justify-content: flex-end;
    height:20px;
    /* width: 20px; */
    border: 2px solid red;
}


.review2 {
    /* border: 2px solid black; */
    margin: 8px;
    padding: 5px;
}

.review3 {
    flex-direction: column;
}

.div-of-divs {
    display: flex;
    flex-direction: column;
}



.seperation {
    margin: 8px 8px;
}

.big-star {
    /* border: 2px solid green; */
    font-size: xx-large;
}

.review-text {
   font-style: italic;
}

.review-button {
    width: 10vw;
}







@media(max-width: 768px) {
    .image-container {
        display: block;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .reserve-container {
        display: block;
        max-width: 100%;
        width: 100%;

    }
    .review-button {
        display: block;
        width: 100%;
    }
}
