.button {
    flex-direction: column;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.label {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


