.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.home-image {

    z-index: 1;
    width: 100px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px gray;
    z-index: 2;

}

.create-a-spot {
  display: flex;
 align-self: flex-start;
}
