.profile-dropdown {
    display: visible;
    width: 150px;
    /* position is fixed because otherwise its side by side */
    position: fixed;
    top: 80px;
    border-radius: 10px;
  z-index: 1;
  background-color: white;
}
.profile-dropdown.hidden {
    display: none;
}




.nav-links {
  text-decoration: none;
  color: rgb(0, 118, 182);
}

.nav-links::after {
  color: blueviolet;
}



.menu-button {
  /* position: fixed; */
  z-index: 1;
    border: black 5;
    width: 70px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
  }


  .menu-icon {
    padding:10px,10px;
    margin:10px;
  }

  .user-icon{
    padding:10px,10px;
    margin:10px;
  }

  .menu-button:hover {
    background-color: #ddd;
    transform: scale(1.1);
  }
  .menu-button:active {
    background-color: #bbb;
  }

.account-info {
  display: flex;
  justify-content: center;
 padding: 5px 10px 5px 10px;

}

.profile-line{
  border: 1px solid black;
  margin:3px 6px;
}







.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10px;
    height: 20vh;
    top: 80px;
    right: 20px;
    /* gap: 10px; */
    text-align: center;
  }


  .auth-button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    text-align: center;
  }

  .logout-button {
    border-radius: 38%;
    cursor: pointer;
    margin: auto;
    color:white;
    background-color: darkgray;
  }

  /*
      NEED to find a way to route to home page after logout
  */

  /* .logout-navy-linkz {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: auto;
    color:white;
    background-color: darkgray;
    border-radius: 38%;
    cursor: pointer;
  } */
